http_interactions:
  - request:
      method: get
      uri: https://sistemaswebb3-listados.b3.com.br/listedCompaniesProxy/CompanyCall/GetDetail/eyJjb2RlQ1ZNIjoiMjQ5MTAiLCJsYW5ndWFnZSI6InB0LWJyIn0=
      body:
        encoding: ""
        string: ""
      headers:
    response:
      status:
        status_code: 200
        category: Success
        reason: OK
        message: "Success: (200) OK"
      headers:
        content-type: text/plain; charset=utf-8
      body:
        encoding: "latin1"
        file: no
        string:
          '{"issuingCompany":"LWSA","companyName":"LOCAWEB SERVI�OS DE INTERNET
          S.A.","tradingName":"LOCAWEB","cnpj":"02351877000152","industryClassification":"Tecnologia
          da Informa��o / Programas e Servi�os / Programas e Servi�os","industryClassificationEng":null,"activity":null,"website":"","hasQuotation":null,"status":"A","marketIndicator":"18","market":"NOVO
          MERCADO","institutionCommon":"ITAU CORRETORA ACOES","institutionPreferred":"","code":"LWSA3","codeCVM":"24910","lastDate":"07/12/2022
          23:23:33","otherCodes":[{"code":"LWSA3","isin":"BRLWSAACNOR8"}],"hasEmissions":false,"hasBDR":false,"typeBDR":null,"describleCategoryBVMF":null}'
    recorded_at: 2022-12-08 09:00:24 GMT
    recorded_with: vcr/1.2.0, webmockr/0.8.2
