http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexStatisticsProxy/IndexCall/GetPortfolioDay/eyJsYW5ndWFnZSI6InB0LWJyIiwiaW5kZXgiOiJJQk9WIiwieWVhciI6MjAyMn0=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"min":{"day":0,"rateValue1":"101.005,64","rateValue2":"111.591,87","rateValue3":"108.959,30","rateValue4":"107.876,16","rateValue5":"103.109,94","rateValue6":"98.080,34","rateValue7":"96.120,85","rateValue8":"102.225,08","rateValue9":"107.664,35","rateValue10":"112.072,34","rateValue11":"108.782,15","rateValue12":"109.068,55"},"max":{"day":0,"rateValue1":"112.611,65","rateValue2":"115.180,95","rateValue3":"120.259,76","rateValue4":"121.570,15","rateValue5":"111.941,68","rateValue6":"112.392,91","rateValue7":"103.164,69","rateValue8":"113.812,87","rateValue9":"114.070,48","rateValue10":"119.928,79","rateValue11":"118.155,46","rateValue12":"111.923,93"},"results":[{"day":1,"rateValue1":null,"rateValue2":"113.228,31","rateValue3":null,"rateValue4":"121.570,15","rateValue5":null,"rateValue6":"111.359,94","rateValue7":"98.953,90","rateValue8":"102.225,08","rateValue9":"110.405,30","rateValue10":null,"rateValue11":"116.928,66","rateValue12":"110.925,60"},{"day":2,"rateValue1":null,"rateValue2":"111.894,36","rateValue3":"115.173,61","rateValue4":null,"rateValue5":"106.638,64","rateValue6":"112.392,91","rateValue7":null,"rateValue8":"103.361,70","rateValue9":"[...]
