http_interactions:
  - request:
      method: get
      uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OSwibGFuZ3VhZ2UiOiJwdC1iciIsImluZGV4IjoiSUJPViIsInNlZ21lbnQiOjJ9
      body:
        encoding: ""
        string: ""
      headers:
    response:
      status:
        status_code: 200
        category: Success
        reason: OK
        message: "Success: (200) OK"
      headers:
        content-type: application/json; charset=utf-8
      body:
        encoding: "latin1"
        file: no
        string:
          '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":92,"totalPages":1},"header":{"date":"08/12/22","text":"Quantidade
          Te�rica Total","part":"100,000","partAcum":"100,000","textReductor":"Redutor","reductor":"18.553.794,87445950","theoricalQty":"101.053.551.382"},"results":[{"segment":"Bens
          Indls / M�qs e Equips","cod":"WEGE3","asset":"WEG","type":"ON      NM","part":"2,728","partAcum":"2,728","theoricalQty":"1.481.593.024"},{"segment":"Bens
          Indls / Mat Transporte","cod":"EMBR3","asset":"EMBRAER","type":"ON      NM","part":"0,492","partAcum":"0,492","theoricalQty":"734.632.205"},{"segment":"Bens
          Indls/Transporte","cod":"AZUL4","asset":"AZUL","type":"PN      N2","part":"0,187","partAcum":"2,089","theoricalQty":"327.646.296"},{"segment":"Bens
          Indls/Transporte","cod":"CCRO3","asset":"CCR SA","type":"ON      NM",[...]
