http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetPortfolioDay/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OSwibGFuZ3VhZ2UiOiJlbi11cyIsImluZGV4IjoiSUJPViIsInNlZ21lbnQiOjJ9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":87,"totalPages":1},"header":{"date":"04/07/25","text":"Total
        Theorethical Quantity","part":"100.000","partAcum":"100.000","textReductor":"Reductor","reductor":"16,036,751.16744128","theoricalQty":"99,015,750,716"},"results":[{"segment":"Bens
        Indls / Máqs e Equips","cod":"WEGE3","asset":"WEG","type":"ON      NM","part":"2.663","partAcum":"2.663","theoricalQty":"1,243,177,587"},{"segment":"Bens
        Indls / Mat Transporte","cod":"EMBR3","asset":"EMBRAER","type":"ON      NM","part":"2.160","partAcum":"2.357","theoricalQty":"734,631,801"},{"segment":"Bens
        Indls / Mat Transporte","cod":"POMO4","asset":"MARCOPOLO","type":"PN      N2","part":"0.197","partAcum":"2.357","theoricalQty":"666,378,439"},{"segment":"Bens
        Indls/Transporte","cod":"AZUL4","asset":"AZUL","type":"PN      N[...]
