http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetStockIndex/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OX0=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":517,"totalPages":1},"header":{"update":"2022-12-08","startMonth":9,"endMonth":12,"year":2022},"results":[{"company":"3M","spotlight":"DRN","code":"MMMC34","indexes":"BDRX"},{"company":"3R
        PETROLEUM","spotlight":"ON   NM","code":"RRRP3","indexes":"IBOV,IBRA,IBXL,IBXX,IGCT,IGCX,IGNM,ITAG,IVBX,SMLL"},{"company":"3TENTOS","spotlight":"ON   NM","code":"TTEN3","indexes":"AGFS,IBRA,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"},{"company":"ABBVIE","spotlight":"DRN","code":"ABBV34","indexes":"BDRX"},{"company":"ABC
        BRASIL","spotlight":"PN   N2","code":"ABCB4","indexes":"IBRA,IDIV,IFNC,IGCT,IGCX,ITAG,SMLL"},{"company":"ACTIVISION","spotlight":"DRN","code":"ATVI34",[...]
