http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetStockIndex/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OX0=
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":537,"totalPages":1},"header":{"update":"2025-04-07","startMonth":1,"endMonth":4,"year":2025},"results":[{"company":"3TENTOS","spotlight":"ON   NM","code":"TTEN3","indexes":"AGFS,IBRA,ICO2,ICON,IGCT,IGCX,IGNM,ITAG,SMLL"},{"company":"ABBVIE","spotlight":"DRN","code":"ABBV34","indexes":"BDRX"},{"company":"ABC
        BRASIL","spotlight":"PN   N2","code":"ABCB4","indexes":"IBRA,ICO2,IDIV,IFNC,IGCT,IGCX,ITAG,SMLL"},{"company":"ADOBE
        INC","spotlight":"DRN","code":"ADBE34","indexes":"BDRX"},{"company":"ADVANCE
        AUTO","spotlight":"DRN","code":"A1AP34","indexes":"BDRX"},{"company":"ADVANCED
        MIC","spotlight":"DRN","code":"A1MD34","indexes":"BDRX"},{"c[...]
