http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetTheoricalPortfolio/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OSwibGFuZ3VhZ2UiOiJlbi11cyIsImluZGV4IjoiSUJPViJ9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":87,"totalPages":1},"header":{"part":"100.000","theoricalQty":"98,370,249,996","reductor":"16,279,911.48376400"},"results":[{"cod":"ABEV3","asset":"AMBEV
        S/A","type":"ON  EDJ","theoricalQty":"4,394,835,131","part":"2.580","cont":2},{"cod":"ALOS3","asset":"ALLOS","type":"ON  EJ  NM","theoricalQty":"476,976,044","part":"0.442","cont":1},{"cod":"AMOB3","asset":"AUTOMOB","type":"ON      NM","theoricalQty":"533,959,816","part":"0.009","cont":5},{"cod":"ASAI3","asset":"ASSAI","type":"ON      NM","theoricalQty":"1,345,832,968","part":"0.378","cont":3},{"cod":"AURE3","asset":"AUREN","type":"ON      NM","theoricalQty":"323,738,747","part":"0.141","cont":4},{"cod":"AZUL4","asset":"AZUL","type":"PN      N2","theoricalQty":"326,872[...]
