http_interactions:
- request:
    method: get
    uri: https://sistemaswebb3-listados.b3.com.br/indexProxy/indexCall/GetTheoricalPortfolio/eyJwYWdlTnVtYmVyIjoxLCJwYWdlU2l6ZSI6OTk5OSwibGFuZ3VhZ2UiOiJwdC1iciIsImluZGV4IjoiSUJPViJ9
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"page":{"pageNumber":1,"pageSize":9999,"totalRecords":92,"totalPages":1},"header":{"part":"100,000","theoricalQty":"99.273.271.525","reductor":"18.842.281,23696071"},"results":[{"cod":"ABEV3","asset":"AMBEV
        S/A","type":"ON","theoricalQty":"4.386.652.506","part":"3,251","cont":3},{"cod":"ALPA4","asset":"ALPARGATAS","type":"PN      N1","theoricalQty":"202.765.994","part":"0,202","cont":2},{"cod":"AMER3","asset":"AMERICANAS","type":"ON      NM","theoricalQty":"596.086.291","part":"0,443","cont":4},{"cod":"ARZZ3","asset":"AREZZO
        CO","type":"ON      NM","theoricalQty":"60.358.029","part":"0,268","cont":5},{"cod":"ASAI3","asset":"ASSAI","type":"ON      NM","theoricalQty":"795.949.801","part":"0,720","cont":6},{"cod":"AZUL4","asset":"AZUL","type":"PN      N2","theor[...]
