http_interactions:
  - request:
      method: get
      uri: https://www.b3.com.br/json/20221207/Posicoes/Empresa/SI_C_OPCPOSABEMP.json
      body:
        encoding: ""
        string: ""
      headers:
    response:
      status:
        status_code: 200
        category: Success
        reason: OK
        message: "Success: (200) OK"
      headers:
        last-modified: Thu, 08 Dec 2022 09:18:32 GMT
        content-type: application/json
      body:
        encoding: "latin1"
        file: no
        string:
          '{"Empresa":{"3":[{"ser":"RRRPA355","prEx":35.5,"nmEmp":"3R PETROLEUM
          �LEO E G�S S.A","poCob":400.0,"posDe":30400.0,"qtdClTit":2.0,"posTr":2500.0,"posTo":33300.0,"qtdClLan":4.0,"dtVen":"20230120","tMerc":"70","mer":"RRRP","espPap":"ON
          NM"},{"ser":"RRRPA365","prEx":36.5,"nmEmp":"3R PETROLEUM �LEO E G�S S.A","poCob":4500.0,"posDe":22800.0,"qtdClTit":5.0,"posTr":500000.0,"posTo":527300.0,"qtdClLan":7.0,"dtVen":"20230120","tMerc":"70","mer":"RRRP","espPap":"ON
          NM"},{"ser":"RRRPA370","prEx":37.0,"nmEmp":"3R PETROLEUM �LEO E G�S S.A","poCob":0.0,"posDe":10700.0,"qtdClTit":1.0,"posTr":0.0,"posTo":10700.0,"qtdClLan":1.0,"dtVen":"20230120","tMerc":"70","mer":"RRRP","espPap":"ON
          NM"},{"ser":"RRRPA372",[...]
